body
{
  color:#222;
}

#deviceCard {
  padding-top:5%;
  float:left;
  color:#222;
  margin:0 auto;
  text-align:left; width:100%;
   /* display:none; */
}
#relatedDevices {
  /* background-color:lightgrey; */
  width:100%;
  text-align:center;
  margin:0 auto;

}

@media screen and (min-width: 360px) and (max-width:400px) {
  div.container#deviceCard div.card {/*
    /*  margin-left:10%; */
    /* padding-left:5%; */

    /* width:80%; */
    width: 100%;
    /* margin:0 0 10% 15%; */
  }
  .row{
    width:100%;
  }
  div.col-sm-6 h2#relatedDevices{
    /* padding-left:100%; */
    background-color:lightgrey;
    text-align:center;
    margin:0 0 0 15%;
  }
}

@media screen and (min-width: 410px) and (max-width:800px) {



  .row{
    width:100%;
  }
}
