<div class="container">
  <app-menu-material></app-menu-material>
  <app-search></app-search>
  <div class="row">
    <div class="col-sm-6"><app-devices></app-devices></div>
    <div class="col-sm-6"><div class="container justify-content-center" id="deviceCard"   style="color:#222; margin:1rem auto; text-align:left; width:80%;">
      <!--a card to hold selected device-->
      <div class="card" style="width: 18rem;" >
        <div class="card-header" style="background-color:lightgray;">
          <b>Details: </b><!--{{ device.DeviceId }}-->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Status: </li><!--{{ device.Status }}-->
          <li class="list-group-item">Temperature:</li><!--{{ device.Temperature }}-->
          <li class="list-group-item">Usage:</li><!--{{ device.TimeInUse }}-->
        </ul>
        <p>Graph goes here</p>
      </div>
    </div></div>
  </div><!--end row01-->
</div><!--end wrapping container-->




