<app-generic-list [list]=""><!--device-->
  <!-- <ng-container loading>
    Items loading...
  </ng-container>
  <ng-container noListItems>
    <p>There are <b>no</b> items to display</p>
  </ng-container> -->
<ng-container id="displayBox" content>
  <div class="container">
    <div class="row">
      <!--(getSingleDevice)="handleSingleDevice($event)" to catch id from devices.component.html-->
      <div class="col-sm-6" >
        <div id="relatedDevices">
          <h2><span ><b>Related Devices</b></span></h2>  <app-devices (onGetDevice)="showDevice($event)"></app-devices>
        </div>
      </div><!--end devices list-->
        <!--a card to hold selected device-->
      <div class="col-sm-6" content>
        <div class="container" id="deviceCard" >
        <!---->
          <div class="card" >
            <div class="card-header" style="background-color:lightgray;">
              <b>Details: <!-- {{ list.DeviceId }} --></b>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Status: <!-- {{ list.Status }} --></li>
              <li class="list-group-item">Temperature:</li><!--{{ device.Temperature }}-->
              <li class="list-group-item" >Usage:</li><!--{{ device.TimeInUse }}-->
            </ul>
            <img src="assets/barGraph.png" />
          </div><!--end card-->
      </div><!--end card wrapping container-->
    </div><!--end col02 device card-->
    </div><!--end row01-->
  </div><!--end wrapping container-->
</ng-container>
</app-generic-list>




