<nav class="navbar sticky-top navbar-dark" style="color: antiquewhite;" style="margin:1.0rem; padding-bottom: 1rem;">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">{{ navBarTitle }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFront-end" aria-controls="navbarFront-end" aria-expanded="true" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarFront-end" style="background-color: grey; color:#222; border: white 2px solid;">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul><!--end nav-items-->
      </div><!--end navbar-collapse area-->ma
  </nav><!--end nav-->

