#displayBox {
    border:1px white solid;
    margin-bottom: 1rem;
    padding-top:1rem;
    text-shadow: 0.75px 0.75px antiquewhite;
    background-color: rgba(255,255,255,0.7);
    color: brown;
    background-color:antiquewhite;
}

div[ng-container]#displayBox div.container div.row {
  background-color:lightgray;
}
div.row#deviceRow{
  background-color:lightgray;
}

div.row#deviceRow img{
  padding-top:25%;
}
