div[ng-container]#displayBox div.container div.row {
  background-color:lightgray;
}
div.row#deviceRow{
  background-color:lightgray;
}

div.row#deviceRow img{
  padding:1rem;
}

div#deviceInfo p {

  margin-bottom:-0.25rem;
}
div#deviceInfo{
  margin-top:0.5rem;
  text-align:left;
}

/* Narrower width screens*/
@media screen and (min-width: 360px) and (max-width:400px) {
/* deviceRow */
  div.row#deviceRow{
    height:auto;
    width:auto;
    margin:0 auto;
    text-align: center;
}
}
/* Wider screens*/
@media screen and (min-width: 410px) and (max-width:800px) {

  div.row#deviceRow{
    height:auto;
    width:auto;
    margin:0 auto;
    text-align: center;
  }

  div.row#deviceRow img{
    padding:1rem;
  }
 
}
