<app-generic-list [list]="devices">
    <ng-container id="displayBox" content>
      <div class="container">
        <!--waiting for data gif-->
        <img *ngIf="!devices"
          src="assets/death-skelly.gif"/>
        <!--no data warning-->
        <div *ngIf="devices?.length===0">
          <p>There are no records to display</p>
        </div>
        <!--Display area for all devices, will show a bootstrap row for each instance, with icon, device name and device status, along with an info button that will lead to device.component.html, once wired up-->
        <!--**ngIf w/ ng-container check to make sure that there are some devices, otherwise entire area isn't shown and doesn't affect the DOM-->
      <!--wrapping div for *ngIf-->
       <div *ngIf="devices && devices.length > 0">
          <div class="row" *ngFor="let device of devices; let index = index">
              <!--device icon-->
              <div class="col-sm-4">
                <!--w.i.p.-->
              </div>
              <!--device name and status-->
              <div class="col-sm-4" style="float: left;">
                  <p>{{device.DeviceName}}</p>
                  <p>{{device.DeviceStatus}}</p>
              </div>
              <!--info svg icon-->
              <div class="col-sm-4">
                <a href=""
                  (click)="getSingleDevice(index)"
                >
                  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='black' class='bi bi-info-circle-fill' viewBox='0 0 16 16'>
                    <path d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/>
                  </svg>
                </a>
              </div>
              <!--<button class="btn btn-lg btn-outline-success"> </button>-->
          </div><!--end devices row-->
        </div><!--end wrapping div-->
    </div><!--end container-->
  </ng-container><!--end devices content area-->
</app-generic-list>


