<nav class="navbar">
    <div class="container" id="searchBox">
        <form class="form-inline">
            <div class="row" >
                <div class="col-sm-10 mr-auto">
                        <input class="form-control" type="search" placeholder="Search" style="width:100%;">
                </div>
                <div class="col-sm-2 justify-content-end" >
                    <div class="text-right">
                        <button class="btn btn-outline-success"  type="submit" >Cancel</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</nav>





