/* #searchBox {
    height: 5rem;
    background-color: lightgray;
    margin:1rem auto;
    width: 100%;
    /* padding-top: 1rem;} */

    .container{
      background-color:lightgrey;
      height:5rem;
      padding:1rem;
      width:90%;
      margin: 1rem 1rem 1rem 5%;
      
    }
    a{
      text-decoration:none;
    }
    a:hover {
      color:red;
    }

    
@media screen and (min-width: 360px) and (max-width:400px) {

  h1{
    font-size: 90%;
  }

  nav {
    width: 90%;
  }
  #search-form{
    width:80%;
  }
  .row{
    width:100%;
  }
}

@media screen and (min-width: 410px) and (max-width:800px) {

.container{
      background-color:lightgrey;
      height:5rem;
      padding:1rem;
      width:88%;
      margin: 1rem 1rem 1rem 5%;
      
    } 
  
}

    
