<nav class="navbar">
    <div class="container" id="searchBox">
        <form class="form-inline">
            <div class="row" >                
                <div class="col-sm-6 mr-auto">                    
                        <input class="form-control" type="search" placeholder="Search">            
                </div>
                <div class="col-sm-6 justify-content-end" >
                    <div class="text-right">
                        <button class="btn btn-outline-success"  type="submit" >Search</button>
                    </div>
                </div>
                
            </div>
        </form> 
    </div>
</nav>


    
   
  
